
<%= simple_form_for(@weight) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :date %>
  </div>
    <div class="dropdown">
      <%= f.label :gender %>
      <%= f.select(:gender, Weight::GENDER)  %>
    </div>
    
  <div class="form-inputs">
    <%= f.input :lenght %>
    <%= f.input :weight %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
